html {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

h2 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-weight: 100;
    font-size: 2rem;
}

h1 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding-bottom: .1rem;
    margin-bottom: .1rem;
    font-weight: 100;
}
body {
    margin: 0rem;
}
.link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.link:hover{
    color: grey;
}
.header {
    background-color: black;
    color: white;
    padding: 0.7rem;
    padding-top: 0.1rem;

}
.header ul {
    margin: 0.1rem;
    padding: 0.1rem;
}
#logo img {
    height: 2rem;
    width: 2rem;
    position: relative;
    top: 0.7rem;
}

#logo2 {
    height: 3rem;
    width: 3rem;
    position: relative;
    top: 0.9rem;
}

ul {
    margin: 0.1rem;
    padding: 0.1rem;
}

ul li {
    display: inline;
    padding: .8rem;
    float: left;
}

.footer {
    background-color: black;
    color: white;
    padding: 2rem;
    padding-top: 1rem;
}

.footer p {
    margin: 0rem;
    padding: 1rem;
    text-align: right;
}

.footer p a {
    color: #E89835;
}
